<a class="card" href="{{ w.url }}" data-cats="{{ w.data.categories | join('|') }}">
  {%- set vid = w.data.video if w.data.video else (w.data.audio if (w.data.audio and "youtu" in w.data.audio) else "") %}
  {%- if vid %}
  <span class="card-art"><img src="https://img.youtube.com/vi/{{ vid | ytid }}/hqdefault.jpg" alt="" loading="lazy" width="480" height="360"></span>
  {%- else %}
  <span class="card-art type"><span>{{ w.data.title }}</span></span>
  {%- endif %}
  <span class="card-title">{{ w.data.title }}</span>
  <span class="card-meta">{{ w.data.forces or (w.data.categories | first) }}</span>
</a>
