---
layout: base.njk
title: Contact
permalink: /contact/
---
<h1>Contact</h1>
<p class="rubric">Commissions & performance inquiries</p>
<p><em>Contact details to be confirmed with the composer.</em></p>
<p class="rubric">Mass of the Americas</p>
<p>Performance materials: lumenverummusic@gmail.com</p>
