---
layout: base.njk
title: Lumen Verum Music
permalink: /lumen-verum/
fullwidth: true
description: "Lumen Verum Music, the publishing imprint of composer Frank La Rocca."
eleventyExcludeFromCollections: true
---
<section class="soon">
  <div class="wrap">
    <img class="soon-mark" src="/images/affil/lumen-verum-music.svg" alt="Lumen Verum Music" width="150" height="84">
    <h1>Lumen Verum Music</h1>
    <p>The publishing imprint of Frank La Rocca. A catalog of scores with perusal and purchase information is coming.</p>
    <p class="note">Until then, performance materials for works published by Lumen Verum Music are available by request: <a href="mailto:{{ site.materialsEmail }}">{{ site.materialsEmail }}</a>. See also <a href="/directors/">For directors</a>.</p>
  </div>
</section>
